body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.reservaciones {
  align-items:center;
  background-color: #fff8f0;
  border: 2px solid #f0c090;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

a {
  font-family: "Lobster", sans-serif;
  font-weight: 500;
}

.Links-logo {
  margin-right: 10px;
  margin-left: 10px;
}

.Visitanos {
  margin: block start 0;
  margin-top: auto;
  background-color: #fff8f0;
  border: 2px solid #f0a070;
}

footer{
  padding-block-start: 4rem;
}